<div class="container topic-container">
  <h1 class="col-xs-12">Login</h1>

    <%= form_for :login do |f| %>
      <div class="col-xs-12 topic">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="col-xs-12">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="col-xs-12">
        <%= f.submit 'Log in' %>
      </div>

    <i><a href="/signup" class="col-xs-12" style="margin-top: 15px"> Don't have an account? Sign Up! </a></i>

   <% end %>

</div>
