<div class="container">

  <% if current_user %>
    <h1 class="container-title">Topics</h1>

    <% @topics.each do |topic| %>
      <div class="topic-container span12" style="border: 1px solid black ">
        <p class="topic-title" style="margin-top: 15px"> <strong>Title:</strong> <%= link_to topic.title, topic_path(topic) %></p>
        <p class="topic-date" style="margin-top: 15px"> <strong>Date:</strong> <%= topic.date %></p>
        <p class="topic-user" style="margin-top: 15px"> <strong>User:</strong> <%= link_to topic.user.name, user_path(topic.user) %></p>
        <div class="topic-delete"><i><%= link_to 'Delete this topic!', topic_path(topic), method: :delete, data: { confirm: 'Are you sure?' } %></i></div>
      </div>
    <br>
    <% end %>

    <div class="topic-container">
      <i><div style="margin-top: 15px"> <%= link_to "Make new topic!", topics_new_path %></div><i>
      <i><div style="margin-top: 15px"> <%= link_to "Back to the user list!", users_path %></div><i>
    </div>

  <% else %>

  <div class="row">
    <div class="col-xs-12 topic-container">
      <h1>Welcome Calisthenics Enthusiasts!</h1>
      <a href="/login" class="col-xs-12" style="font-size: 250%"> Login </a>
      <a href="/signup" class="col-xs-12" style="font-size: 250%"> Sign up </a>
    </div>
  </div>


  <% end %>


</div>



