<div class="container">
  <h1>Topics</h1>

  <% if current_user %>
    <ul>
    <% @topics.each do |topic| %>
      <p style="margin-top: 15px"> <strong>Title:</strong> <%= link_to topic.title, topic_path(topic) %></p>
      <p style="margin-top: 15px"> <strong>Date:</strong> <%= topic.date %></p>
      <p style="margin-top: 15px"> <strong>User:</strong> <%= current_user.name %></p>
      <i><%= link_to 'Delete this topic!', topic_path(topic), method: :delete, data: { confirm: 'Are you sure?' } %></i>
      <br>
      <br>
    <% end %>
   </ul>

  <% else %>
    <a href="/login" class="col-md-12"> Login </a>
    <a href="/signup" class="col-md-12"> Sign up </a>
  <% end %>

<i><div style="margin-top: 15px"> <%= link_to "Make new topic!", topics_new_path %></div><i>
<i><div style="margin-top: 15px"> <%= link_to "Back to the user list!", users_path %></div><i>


</div>



