  <div class="container topic-container">

    <div class="col-xs-1">
      <h1> Topics </h1>

      <div class="row">
        <%= form_for(@topic) do |f| %>
          <div class="col-xs-12">
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>

           <div class="col-xs-12">
            <%= f.label :date %>
            <%= f.date_field :date %>
          </div>

          <div class="col-xs-12">
            <%= f.label :video %>
            <%= f.text_field :video %>
          </div>

          <div class="col-xs-12">
            <%= f.label :content %>
            <%= f.text_area :content %>
          </div>

          <div class="col-xs-12" style="margin-top: 15px">
            <%= f.submit %>
          </div>

       <% end %>
      </div>

    </div>

  </div>
