<div class="container topic-container">

  <h1 class="col-xs-12">Sign Up!</h1>

  <%= form_for @user do |f| %>
    <div class="col-xs-12">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

     <div class="col-xs-12">
      <%= f.label :gender %>
      <%= f.text_field :gender %>
    </div>

    <div class="col-xs-12">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>

     <div class="col-xs-12">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

     <div class="col-xs-12">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

     <div class="col-xs-12">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="col-xs-12" style="margin-top: 10px">
      <%= f.file_field :avatar %>
    </div>

    <div class="col-xs-12" style="margin-top: 15px">
      <%= f.submit 'Sign Up' %>
    </div>

    <i><a href="/login" class="col-xs-12" style="margin-top: 15px"> Already have an Account? Log In! </a></i>

  <%end%>
</div>
