<h1 class="col-md-12">Signup</h1>

<%= form_for @user do |f| %>
  <div class="col-md-12">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

   <div class="col-md-12">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="col-md-12">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

   <div class="col-md-12">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

   <div class="col-md-12">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

   <div class="col-md-12">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= form_for @user, url: users_path, html: { multipart: true } do |form| %>
    <%= form.file_field :avatar %>
    <% end %>
  </div>

  <div class="col-md-12">
    <%= f.submit 'Sign Up' %>
  </div>

<%end%>

