<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h1 class="topic-container"><%= @user.name %></h1>
    </div>
  </div>


  <div class="row">

    <div class= "col-xs-3">
      <img class="img-thumbnail" <%= image_tag @user.avatar.url %> >
    </div>

    <div class="col-xs-9">
      <div class="topic-container">
        <p>
          <strong><%= @user.name %> loves training calisthenics! </strong>
        </p >
        <ul>
          <li>Gender: <%=@user.gender%></li>
          <li>Location: <%=@user.location%></li>
          <p> <i> <%= link_to "Back to the user list!", users_path %> </i> </p>
        </ul>
      </div>
    </div>

  </div>

  <h2 style="margin-bottom: 15px" class="topic-container">List of <%=@user.name%>'s Topics</h2>

      <% @user.topics.each do |topic| %>
        <div class="col-xs-12 topic-container" style="border: solid black 1px; margin-top: 15px">
          <p>Title: <%= link_to topic.title, topic_path(topic)%></p>
          <p>Date: <%= topic.date %></p>
        </div>
        <br>
      <% end %>


</div>
