<div class="container">
  <h1 class="col-md-12"><%= @user.name %></h1>

  <div class="row">
    <div class= "col-xs-3">
      <img class="img-thumbnail" <%= image_tag @user.avatar.url %>
    </div>

    <div class="col-xs-offset-0 col-xs-4">
    <br>
      <p>
        <strong><%= @user.name %> loves training calisthenics! </strong>
      </p >
      <ul>
        <li>Gender: <%=@user.gender%></li>
        <li>Location: <%=@user.location%></li>
      </ul>
    </div>

  </div>

  <div style="margin-bottom: 15px"><%= link_to "Back to the user list!", users_path %> </div>

  <h2 style="margin-bottom: 15px">List of <%=@user.name%>'s Topics</h2>
    <% @user.topics.each do |topic| %>
      <p>Title: <%= link_to topic.title, topic_path(topic)%></p>
      <p>Date: <%= topic.date %></p>
      <br>
    <% end %>

</div>
